.nord-header {
  border-bottom: 1px solid gray;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  gap: 20px;
  background-color: orange;
}

.nord-header-build {
  height: 50px;
  width: 50px;
}

.food_name {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  align-items: center;
}

.nord-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2;
  align-items: center;
  justify-self: center;
  height: 10px;
  columns: 10px;
  row-gap: 13px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.tattoo-item {
  display: grid;
  justify-content: center;
  align-items: center;
}
